<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Humanity Box</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/client/src/css/styles.css">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header>
    <div class="container">
      <div class="sixteen columns">
        <div class="row">
          <h1 class="header__logo left">Humanity Box</h1>
          <p class="right">Interested in helping? <a href="https://github.com/nicksergeant/humanitybox" class="button">Contribute on Github</a></p>
        </div>
        <div class="row">
          <div class="eight columns alpha">
            <h2>Humanity Box is a free ad network designed to increase exposure to individuals raising funds for personal medical needs.</h2>
          </div>
        </div>
        <a href="https://github.com/nicksergeant/humanitybox" class="button -blue -large">Help us build</a>
      </div>    
    </div>
  </header>
  <section id="about" class="intro layer">
    <div class="container">
      <div class="sixteen columns">
        <h2>How does Humanity Box work?</h2>
        <p>Humanity Box works similarly to how paid ad networks work (such as <a href="http://decknetwork.net/">The Deck</a>, <a href="http://carbonads.net/">Carbon Ads</a>, <a href="http://bsaone.com/">BSA One</a>, etc). You install an ad code onto your website, and it delivers advertisements on each page load.</p>
        <p>The difference is that ads in the Humanity Box network are funding campaigns for people are who sick and experiencing financial hardship as a result. The campaigns are sourced from <a href="http://www.giveforward.com/">GiveForward</a>.</p>
        <div class="row">
          <div class="intro__company sixteen columns">
            <a href="http://www.giveforward.com/"><img src="/client/src/img/logo_giveforward.jpg" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="get-started" class="get-started layer">
    <div class="container">
      <div class="get-started__process sixteen columns">
        <h2>Getting started</h2>
        <div class="row">
          <div class="get-started__step one-third column alpha">
            <img src="/client/src/img/icon_step1.jpg" alt="" />
            <p>Install the ad code onto your website.</p>
          </div>
          <div class="get-started__step one-third column">
            <img src="/client/src/img/icon_step2.jpg" alt="" />
            <p>Ads link directly to the sourced campaign. No money ever changes hands with Humanity Box.</p>
          </div>
          <div class="get-started__step one-third column omega">
            <img src="/client/src/img/icon_step3.jpg" alt="" />
            <p>Help change someone's life forever.</p>
          </div>
      </div>
    </div>
  </section>
  <section id="installation" class="installation layer">
    <div class="container">
      <div class="sixteen column">
        <h2>Installation</h2>
        <p>We're still working on building out the platform, so there's nothing to install yet. Check back soon, or help us <a href="x">build the platform on GitHub</a>, if you're interested.</p>
        <!--<ol>
          <li><b>1.</b>Download the source from Github.</li>
          <li><b>2.</b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus purus eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</li>
          <li><b>3.</b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus purus eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.</li>
        </ol>-->
      </div>
    </div>
  </section>
  <section class="existence layer">
    <div class="container">
      <div class="sixteen columns">
        <h2>Why does it exist?</h2>
        <p>No one should have to choose between bankruptcy or death.</p>
        <P>Campaign providers such as <a href="http://www.giveforward.com/">GiveForward</a> are providing a vital service by allowing people to create funding campaigns to help pay for medical treatments. Oftentimes, however, the campaigns never reach beyond friends, family, and other people specifically browsing the platform looking to make donations. While tthis is amazing in and of itself, many campaigns never reach their goal. Humanity Box's aim is to bring exposure to these campaigns to as many sites on the internet as possible. We hope that by simply increasing traffic to these campaigns we can help them get funded when they otherwise might not.</P>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="sixteen columns">
        <img src="/client/src/img/logo.png" class="footer__logo" alt="" />
      </div>
      <ul class="ten columns offset-by-three">
        <li>© 2014 Humanity Box</li>
        <li><a href="#about">About</a></li>
        <li><a href="#installation">Installation</a></li>
      </ul>
    </div>
  </footer>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/interface.js"></script>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '52cac26b8bfdf7340100113e');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
