<!DOCTYPE html>
<html lang="en">
<head>

  <title>Humanity Box</title>

  <meta charset="utf-8" />
  <meta name="description" content="Humanity Box is a free ad network designed to increase exposure to individuals raising funds for personal medical needs." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" type="text/css" href="/client/src/css/style.css" />

  <!--[if lt IE 9]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>

<div class="frame">
  <img src="/client/src/img/logo.png"
       alt="Humanity Box is a free ad network designed to increase exposure to individuals raising funds for personal medical needs."
       title="Humanity Box is a free ad network designed to increase exposure to individuals raising funds for personal medical needs." />
  <h1>Humanity Box is a free ad network designed to increase exposure to individuals raising funds for personal medical needs.</h1>
  <p>We're just starting to build this thing.<br />You can either <a href="http://twitter.com/humanitybox">follow along</a> or <a href="https://github.com/nicksergeant/humanitybox">help us build</a>.</p>
</div>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '52cac26b8bfdf7340100113e');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>

</body>

</html>
