body {
  background: #89A6A1;
  margin: 0;
  padding: 0;
}

div.frame {
  margin: 200px auto;
  width: 500px;
}

div.frame img {
  max-width: 100%;
}

div.frame h1 {
  color: white;
  font: 200 26px Helvetica;
  letter-spacing: -1px;
  margin: 50px 0;
  text-align: center;
}

div.frame p {
  color: #444F55;
  font: 200 18px/24px Helvetica;
  letter-spacing: -1px;
  margin: 50px 0;
  text-align: center;
}

div.frame p a {
  color: #444F55;
}
