// Colors
$blue: #6fb7e7;
$green: #71c594;
$darkGray: #414f56;

// Media queries
@mixin breakpoint($point) {
  @if $point == tablet-portrait {
    @media only screen and (min-width: 768px) and (max-width: 959px) { @content; } 
  }
  @else if $point == mobile-portrait {
    @media only screen and (max-width: 767px) { @content; }
  }
  @else if $point == mobile-landscape {
    @media only screen and (min-width: 480px) and (max-width: 767px) { @content; }
  }
}

// Fonts 
$fontSize: 16px;
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@font-face {
    font-family: 'Museo Slab';
    src: url('/public/src/fonts/museo_slab_500-webfont.eot');
    src: url('/public/src/fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/src/fonts/museo_slab_500-webfont.woff') format('woff'),
         url('/public/src/fonts/museo_slab_500-webfont.ttf') format('truetype'),
         url('/public/src/fonts/museo_slab_500-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;
}
@function em($target, $context: $fontSize) {
   @return #{$target / $context}em;
}

// Reset
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; 
}
body {
  line-height: 1; 
}
ol, ul {
  list-style: none; 
}
blockquote, q {
  quotes: none; 
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; 
}
table {
  border-collapse: collapse;
  border-spacing: 0; 
}
label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

// Base
body {
  color: #444;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.35em;
  margin: 1em 0;
}
h1, h2, h3 {
  color: $green;
  font-family: 'Museo Slab', 'Open Sans', sans-serif;
}
h2 {
  font-size: em(36px);
  @include breakpoint(mobile-portrait) {
    font-size: em(28px);
  }
}
h3 {
  font-size: em(24px);
  @include breakpoint(mobile-portrait) {
    font-size: em(18px);
  }
}
p, li {
  font-size: em(18px);
  line-height: 1.5em;
  margin: 1em 0;
}
a {
  color: $blue;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: lighten($blue, 7);
    text-decoration: none;
  }
}

#home .row {
  margin-left: 0;
  margin-right: 0;
}
#home *, footer * {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
}
#admin {
  &.-users {
    div.panel-default {
      padding: 10px;

      form > div, form div.col-md-10 {
        margin-bottom: 10px;
      }
      button, input[name="usersQuery"] {
        width: 100% !important;
      }
      tbody {
        border-top: 0
      }
    }
  }
  div.modal {
    div.modal-footer {
      margin-top: 0;
    }
  }
}
#stats {
  table {
    width: 100%;

    td {
      border-bottom: 1px solid #DDDDDD;
      font-size: 24px;
      font-weight: bold;
      padding: 20px 0;

      &.count {
        width: 135px;
      }
    }
  }
  p.disclaimer {
    font-size: 12px;
    text-align: center;
    margin-bottom: 18px;
    margin-top: 50px;
  }
}

// Helpers 
.left {
  float: left;
}
.right {
  float: right;
}

// Header
header {
  background: #f2f2f2 url(/public/src/img/bg_header.jpg) center top no-repeat;
  background-size: cover;
  color: #fff;
  padding: 40px 0 75px 0;
  top: 0;
  width: 100%;
  z-index: 0;
  h2 {
    color: #fff;
    font: {
      family: 'Open Sans', sans-serif;
      size: em(32px);
      weight: 300;
    }
    margin: 10px 0;
    line-height: 1.35em;
    text-shadow: 0 2px 0 rgba(0,0,0, 0.2);
  }
  p {
    font-size: em(12px);
    margin-top: 0;
    a {
      margin-left: 10px;
    }
  }
  .button.-large {
    margin-bottom: 20px;
  }
  &.inner {
    background: $darkGray;
    padding: 10px 0;
    .header__logo {
      background-size: 50%;
      height: 50px;
    }
    .right {
      margin-bottom: 0;
      padding-top: 7px;
    }
  }

  @include breakpoint(mobile-portrait) {
    h2 {
      font-size: em(24px);
      text-align: center;
    }
    p {
      display: none;
    }
    .button {
      display: block;
      margin: 0 auto;
      max-width: 60%;
    }
    &.inner {
      .header__logo {
        background: url(/public/src/img/logo.png) left top no-repeat;
        background-size: 100%;
        height: 40px;
        width: 40px;
      }
      .button {
        display: inline-block;
      }
    }
  }
}
.header__logo {
  background: url(/public/src/img/logo.png) left top no-repeat;
  background-size: 100%;
  height: 100px;
  margin: 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 100px;
  @include breakpoint(mobile-portrait) {
    background: url(/public/src/img/logo.png) center top no-repeat;
    background-size: 110px;
    height: 110px;
    width: 100%;
  }
}

strong {
  font-weight: bold;
}

// Layer modules
.layer {
  background-color: #fafafa;
  min-height: 300px;
  padding: 10px 0 30px 0;
  position: relative;
  z-index: 1;
  @include breakpoint(mobile-portrait) {
    h2 {
      text-align: center;
    }
  }
}
.intro__company {
  margin-top: 20px;
  padding-top: 15px;
  text-align: center;
  img {
    max-width: 267px;
  }
  &:nth-child(2) {
    padding-top: 18px;
  }
  &:last-child {
    padding-top: 0;
  }
  @include breakpoint(mobile-portrait) {
    padding-top: 40px !important;
  }
}
.get-started {
  background-color: $green;
  h2 {
    color: #fff;
    text-align: center;
  }
}
.get-started__process {
  position: relative;
  &:after {
    border-top: 8px dashed rgba(#fff, 0.18);
    content: "";
    display: block;
    margin-left: 115px;
    position: absolute;
    top: 190px;
    width: 75%;
    z-index: 1;
  }
  @include breakpoint(mobile-portrait) {
      &:after {
        border: {
          top: none;
          left: 8px dashed rgba(#fff, 0.18);
        }
        height: 70%;
        left: 32px;
        top: 120px;
        width: 8px;
      }
    }
    @include breakpoint(mobile-landscape) {
      &:after {
        height: 61%;
        left: 92px;
      }
    }
}
.get-started__step {
  color: #fff;
  padding-top: 15px;
  position: relative;
  text-align: center;
  z-index: 2;
  img {
    padding-bottom: 10px;
  }
  @include breakpoint(mobile-portrait) {
    padding-top: 40px;
    &:first-child {
      padding-top: 20px;
    }
  }

}
.installation {
  ol {
    padding: {
      bottom: 30px;
      left: 30px;
    }
    li {
      font-size: em(21px);
      margin-top: 30px;
      padding-left: 50px;
      position: relative;
      &:first-child {
        margin-top: 10px;
      }
    }
    b {
      color: $green;
      float: left;
      font: {
        family: 'Museo Slab', 'Open Sans', sans-serif;
        size: em(32px, 21px);
      }
      position: absolute;
      left: 0;
    }
    @include breakpoint(mobile-portrait) {
      padding-left: 0;
      li {
        font-size: em(18px);
        padding-left: 35px;
      }
    }
  }
  h3 {
    margin-top: 47px;
  }
  textarea {
    background: transparent;
    border: none;
    font: normal 16px monospace;
    height: 80px;
    width: 100%;
  }
}
.existence {
  background-color: $blue;
  padding-bottom: 115px;
  h2, p {
    color: #fff;
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
}

// Footer 
footer {
  background-color: $darkGray;
  margin-top: 75px;
  padding: 30px 0 20px 0;
  position: relative;
  z-index: 1;

  ul {
    margin-top: 20px;
    text-align: center;

    li {
      color: #ddd;
      font-size: em(14px);
      display: inline-block;
      padding: 5px;
      a {
        color: #ddd;
        text-decoration: underline;
      }
    }
  }
  @include breakpoint(mobile-portrait) {
    ul {
      padding-top: 10px;
      li {
        font-size: em(12px);
      }
    }
  }
}
.footer__logo {
  display: block;
  margin: {
    top: -75px;
    right: auto;
    left: auto;
  }
  width: 90px;
  @include breakpoint(mobile-portrait) {
    margin-top: -60px;
    width: 65px;
  }
  @include breakpoint(tablet-portrait) {
    margin-top: -65px;
    width: 75px;
  }
}
#home footer {
  margin-top: 0;
}

// Buttons
.button {
  background-color: #ddd;
  border-bottom: 2px solid darken(#ddd, 25);
  color: #555;
  display: inline-block;
  padding: 0.75em 1.25em;
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  &:hover {
    background-color: lighten(#ddd, 8);
  }
  &.-small {
    font-size: em(12px);
  }
  &.-large {
    font-size: em(18px);
    padding: 1em 1.5em;
  }
  &.-blue {
    background-color: $blue;
    border-bottom: 2px solid darken($blue, 25);
    color: #fff;
    &:hover {
      background-color: lighten($blue, 3);
    }
  }
  &.-install {
    margin-bottom: 0 !important;
  }
}
