<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Humanity Box - Ads that change lives.</title>
  <meta name="description" content="Ads that change lives. Humanity Box is a free ad network designed to increase exposure to individuals raising funds for personal medical needs.">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/public/src/css/styles.css">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <header>
    <div class="container">
      <div class="sixteen columns">
        <div class="row">
          <a href="/" class="header__logo left">Humanity Box</a>
          <p class="right">Interested in helping? <a href="https://github.com/nicksergeant/humanitybox" class="button">Contribute on GitHub</a></p>
        </div>
        <div class="row">
          <div class="eight columns alpha">
            <h2>Humanity Box is a free ad network designed to increase exposure to individuals raising funds for personal medical needs.</h2>
          </div>
        </div>
        <a href="#install" class="button -blue -large">Install on your website &raquo;</a>
      </div>    
    </div>
  </header>
  <section id="about" class="intro layer">
    <div class="container">
      <div class="sixteen columns">
        <h2>Ads that change lives.</h2>
        <p>Humanity Box works similarly to how paid ad networks work (such as <a href="http://decknetwork.net/">The Deck</a>, <a href="http://carbonads.net/">Carbon Ads</a>, <a href="http://bsaone.com/">BSA One</a>, etc). You install an ad code onto your website, and it delivers advertisements on each page load.</p>
        <p>The difference is that the ads in the Humanity Box network are funding campaigns for people experiencing financial hardship due to medical reasons. The campaigns are sourced from our partner, <a href="http://www.giveforward.com/">GiveForward</a>.</p>
        <p>We rotate <strong>10 campaigns per day</strong>. After each 24-hour period, a new set of 10 campaigns are put into rotation. Our goal is to bring exposure to as many hard-to-find campaigns as possible.</p>
        <div class="row">
          <div class="intro__company">
            <a href="http://www.giveforward.com/"><img src="/public/src/img/logo_giveforward.png" alt="" /></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="get-started" class="get-started layer">
    <div class="container">
      <div class="get-started__process sixteen columns">
        <h2>Getting started</h2>
        <div class="row">
          <div class="get-started__step one-third column alpha">
            <img src="/public/src/img/icon_step1.jpg" alt="" />
            <p>Install the ad code onto your website.</p>
          </div>
          <div class="get-started__step one-third column">
            <img src="/public/src/img/icon_step2.jpg" alt="" />
            <p>Ads link directly to the sourced campaign. No money ever changes hands with Humanity Box.</p>
          </div>
          <div class="get-started__step one-third column omega">
            <img src="/public/src/img/icon_step3.jpg" alt="" />
            <p>Help change someone's life forever.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="install" class="installation layer">
    <div class="container">
      <div class="eight columns">
        <h2>Install</h2>
        <ol>
          <li><b>1.</b>Copy this code and place it somewhere on your website:</li>
          <li><b>2.</b><textarea onclick="this.select()"><script type="text/javascript" src="https://d21djfthp4qopy.cloudfront.net/humanitybox.js"></script></textarea></li>
          <li><b>3.</b>Feel free to modify the CSS to better match your site.</li>
        </ol>
      </div>
      <div class="four columns offset-by-two">
        <h3>Default display:</h3>
        <script type="text/javascript" src="https://d21djfthp4qopy.cloudfront.net/humanitybox.js"></script>
      </div>
    </div>
  </section>
  <section class="existence layer" style="padding-bottom: 50px;">
    <div class="container">
      <div class="sixteen columns">
        <h2>Why does it exist?</h2>
        <p>Our partner, <a href="http://www.giveforward.com/">GiveForward</a>, is providing a vital service by allowing people to create funding campaigns to pay for their loved ones' medical treatments. To date, more than $100 million has been given on the platform.</p>
        <p>Oftentimes, however, the campaigns never reach beyond friends, family, and other people specifically browsing GiveForward looking to make donations. While this is amazing in and of itself, many campaigns never reach their goal. Humanity Box's aim is to expose these campaigns to as many sites on the internet as possible. By increasing traffic to these campaigns we can help them get funded when they otherwise might not.</p>
      </div>
    </div>
  </section>
  <section id="contact" class="existence layer" style="background: #619FC9; padding-bottom: 40px;">
    <div class="container">
      <div class="sixteen columns">
        <h2>Contact us</h2>
        <p>
          Humanity Box was started by <a href="http://nicksergeant.com">Nick Sergeant</a>
          (<a href="https://twitter.com/nicksergeant">@nicksergeant</a>) and
          <a href="http://mikedup.co">Mike Davis</a>
          (<a href="https://twitter.com/miked_up">@miked_up</a>),<br />and is
          <a href="https://github.com/nicksergeant/humanitybox">open-source software</a>.
        </p>
        <p>If you'd like to contact us for any reason, email Nick at <a href="mailto:nick@nicksergeant.com">nick@nicksergeant.com</a>.
        </p>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="sixteen columns">
        <img src="/public/src/img/logo.png" class="footer__logo" alt="" />
      </div>
      <ul class="ten columns offset-by-three">
        <li>© 2014 Humanity Box</li>
        <li><a href="#about">About</a></li>
        <li><a href="#install">Install</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </footer>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '52cac26b8bfdf7340100113e');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
