<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en" ng-app="humanitybox"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en" ng-app="humanitybox"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en" ng-app="humanitybox"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" ng-app="humanitybox"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Humanity Box - Ads that change lives.</title>
  <meta name="description" content="Ads that change lives. Humanity Box is a free ad network designed to increase exposure to individuals raising funds for personal medical needs.">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/public/src/css/styles.css">
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <% if (env === 'production') { %>
    <link rel="stylesheet" type="text/css" href="/public/ng-job.css?<%= cssModifiedTime %>" />
    <script type="text/javascript" src="/public/ng-job.js?<%= jsModifiedTime %>"></script>
  <% } else { %>
    <% for (file in resources.vendorcss) { %>
      <link rel="stylesheet" type="text/css" href="/<%= resources.vendorcss[file] %>" />
    <% } for (file in resources.css) { %>
      <link rel="stylesheet" type="text/css" href="/<%= resources.css[file] %>" />
    <% } %>
    <% for (file in resources.vendorjs) { %>
      <script type="text/javascript" src="/<%= resources.vendorjs[file] %>"></script>
    <% } for (file in resources.js) { %>
      <script type="text/javascript" src="/<%= resources.js[file] %>"></script>
    <% } %>
  <% } %>
  <script type="text/javascript">
    <% if (env) { %>window.env = '<%- env %>';<% } %>
    <% if (message) { %>window.message = '<%- message %>';<% } %>
    <% if (user) { %>
      window.user = {
        username: '<%- user.username %>',
        id: '<%- user.id %>'
      };
    <% } %>
  </script>
</head>
<body ng-cloak class="ng-cloak">
  <div ng-view></div>
  <footer>
    <div class="scontainer">
      <div class="sixteen columns">
        <img src="/public/src/img/logo.png" class="footer__logo" alt="" />
      </div>
      <ul class="ten columns offset-by-three">
        <li>&copy; 2014 Humanity Box</li>
        <li><a href="#about">About</a></li>
        <li><a href="#install">Install</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </footer>
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '52cac26b8bfdf7340100113e');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
  <% if (env === 'development') { %>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  <% } %>
</body>
</html>
